<% include partials/head.ejs %>
<div class="site winners">
<% include partials/header.ejs %>

  <div class="grid">

    <% company.forEach((team, index) => { %>
    <div class="col-4">
      <div class="winner-title"><%= cname %></div>
      <div class="winner-points"><span class="after"></span><span><%= team.teamPoint %></span><span class="before"></span></div>
      <div class="winner-name"><span class="colorteam <%= team.color %>"></span><%= team.team %></div>
    </div>
    <% }) %>

    <% team.forEach((t, index) => { %>

    <div class="col-4">
      <div class="winner-title winner-middle">Global Equipo</div>
      <div class="winner-points"><span class="after"></span><span><%= t.teamPoint %></span><span class="before"></span></div>
      <div class="winner-name"><span class="colorteam <%= t.color %>"></span><%= t.company %></div>
    </div>

    <% }) %>

    <% business.forEach((company, index) => { %>

    <div class="col-4">
      <div class="winner-title">Empresa</div>
      <div class="winner-points"><span class="after"></span><span><%= company.totalPoints %></span><span class="before"></span></div>
      <div class="winner-name"><%= company.company %></>
    </div>

    <% }) %>

  </div>

</div>
<% include partials/script.ejs %>