<% include partials/head-plain-noline.ejs %>
<div class="site">
<% include partials/header.ejs %>

  <div class="grid">

    <div class="col-8 byCompany">
      <div class="winner-title">Empresa</div>
      <ul>
        <% company.forEach((team, index) => { %>
          <li><span class="colorteam <%= team.color %>"></span><%= team.team %><span class="companyPoints"><%= team.teamPoints %></span></li>
        <% }) %>
      </ul>
    </div>


    <div class="col-4 byGeneral">
      <div class="winner-title">Global</div>
      <ul>
        <% globalres.forEach((team, index) => { %>
        <li><span class="colorteam <%= team.color %>"></span><%= team.company %><span class="teamPoints"><%= team.teamPoint %></span></li>
        <% }) %>
      </ul>
    </div>


    </div>
</div>
<% include partials/footer.ejs %>
<% include partials/script.ejs %>